PORT=3001
CONNECTION_URI=mongodb://devuser:devpassword@localhost:27017/jewellery-catalogue?authSource=admin
DATABASE_NAME=jewellery-catalogue
BUCKET_NAME=jewellery-catalogue
BUCKET_ACCESS_KEY=minioadmin
BUCKET_SECRET_KEY=minioadmin
BUCKET_ENDPOINT=localhost:9000
ETSY_API_KEY=
ETSY_SHARED_SECRET=
ETSY_REDIRECT_URI=http://localhost:3001/api/etsy/oauth/callback
WEB_APP_URL=http://localhost:3000
