node_modules
.yarn
.git
build
.env
tsconfig.tsbuildinfo
.vscode
.eslintcache
/tmp/.buildx-cache

packages/web/test-results/
packages/web/playwright-report/
packages/web/blob-report/
packages/web/playwright/.cache/

packages/web/coverage/